html{
    font-family: ;
    font-size: ;
    line-height: ;

}

body{
    font-family:"Open Sans", Arial ;
    line-height: 1.8;
    margin: 0;
    color: #666;
    

}

header nav{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #ffccff;

}

 header nav a{
     padding: 25px;
     font-family: candal;
     font-size: 1.4em;
     color: #1e3e4b;
     -webkit-align-self: center;
     -ms-flex-item-align: center;
     -ms-grid-row-align: center;
     align-self: center;

}
header nav a:hover{
    color: #fb8a9b;
}
header nav a .fa{
    color: #fb8a9b;
    font-size: 1.5em;
    display: block;
    text-align: center;

}
header nav a:hover .fa{
    color: #203e4d;
}
input{
    background-color: #fb8a9b;
    font-size: 1.5em;
    color: white;
    border: 0;
    padding: 25px 100px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  /*-------MAIN-----*/
  main h2{
      font-family: candal;
      font-size: 1.8em;
      color: #203e4d;
      text-align: center;
      margin-top: 50px;
      padding: 25px 0px;
      border-top: 1px  dashed #46636e;
      border-right: 1px dashed #46636e;
      border-left: 1px dashed #46636e;

  }
  #solution h2,
  #hosting h2{
      flex-basis: 100%;
  }
  .host{
      padding: 15px;
  }
  .host h3{
      text-align: center;
      color: #fb8a9b;
      font-family: "candal", Arial ;
      font-size: 1.2em ;
      padding: 10px 0 0 ;
  }
  .prix{
      color: #fb8a9b;
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;
    
  }
  .host i{
      color: #fb8a9b;
      text-align: center;
      font-size: 3em;
      margin: 25px 0 0;
      display: block;

  }

/*------FOOTER-----*/

  footer{
      background-color: #203e4d;
      color:#ccc;
      text-align: center;
      padding: 50px;

  }
  footer  a{
      color: white;
      padding: 15px 0;
  }
  footer nav{
      font-family: "candal", sans-serif;
      display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  }
